# PostgreSQL Database Configuration
# Copy this file to .env and update the DATABASE_URL with your credentials

DATABASE_URL=postgresql://postgres:Palaksh1509@@localhost:5432/chaosclub
JWT_SECRET_KEY=s5VxfhXwWS2t3kHhjcc4N3uo7BslUAQsfTdUNVXJ418
JWT_EXPIRATION_MINUTES=60

# Or if you created a separate user:
# DATABASE_URL=postgresql://chaosclub_user:your_secure_password@localhost:5432/chaosclub
